*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

nav{
    background-color: rgb(0, 119, 255);
    height: 5rem;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}


label.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 5rem;
}

nav > ul {
    float: right;
}

nav > ul > li{
    display: inline-block;
    line-height: 5rem;
    padding: 0rem 2rem;
}

nav > ul > li > a{
    color: white;
    font-size: 1rem;
}