*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color: rgb(0, 119, 255); /* sets background color of navbar */
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    /* 'padding' is more suitable to give a height compared to 'height' property as height may cause issue in case of content overflow (in case of different screen-size) */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex; /* Inital alignment of label and nav are vertical, display makes them horizontal (nav shifts to right but li are still vertical) */
    justify-content: space-between; /* Pushes label to left and nav to right and maximize space between them */
    align-items: center; /* Centers the content (text in case of label) and nav li elements from top and bottom of header container*/
}

header label.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

nav.menu ul {
    display: flex; /* Inital alignment of li elements are vertical, display makes them horizontal */
}

nav.menu ul li{
    padding: 0rem 2rem; /* Padding between two li elements */
}

nav.menu ul li a{
    color: white;
    font-size: 1rem;
    white-space: nowrap; /* Prevents text from breaking into multiple lines ('About Us', the 'Us' part may go to the next line on change of screen size) */
}
